<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6a854b75-9139-44c1-9e12-4b2013f9a72a" Alias="blog" Level="1">
  <Info>
    <Name>Blog</Name>
    <Icon>icon-calendar-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="0f8dcc90-a404-4dd7-b74b-d40b2edfa12a">contentBase</Composition>
      <Composition Key="53d45504-330d-4e8d-bffc-aa787a5e148b">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Blog</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="38f00ced-596a-41a1-8eb4-bf65091cfe66">Blog</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ff74ee63-c925-4dba-84ed-b6f0a178e0a2">blogpost</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>f15f1d61-e621-4bf6-a03f-76ca0b8194d1</Key>
      <Name>Disqus Shortname</Name>
      <Alias>disqusShortname</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[To use comments, you'll need to sign up for Disqus and enter your shortname here (more info: https://help.disqus.com/customer/portal/articles/472097-universal-embed-code)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>42fc9142-8877-4990-a7f5-a2c78cfb2b7b</Key>
      <Name>How many posts should be shown?</Name>
      <Alias>howManyPostsShouldBeShown</Alias>
      <Definition>9d5ba2c5-ed7a-41f8-b454-9fc65f48752e</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>