<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="22e18e8c-9c86-4718-95d1-5cdd865d1078" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="0f8dcc90-a404-4dd7-b74b-d40b2edfa12a">contentBase</Composition>
      <Composition Key="53d45504-330d-4e8d-bffc-aa787a5e148b">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="96825c83-ff50-4a45-90f8-9a9485a842d6">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="22e18e8c-9c86-4718-95d1-5cdd865d1078">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>