<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="80615628-e3bb-49ae-8913-aee5a9ed75cd" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="31cc8baa-7598-4c98-84e6-e2c277f019cf">home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6a854b75-9139-44c1-9e12-4b2013f9a72a">blog</ContentType>
    <ContentType Key="18918929-1375-49b4-ae4d-ff317d248af4">contact</ContentType>
    <ContentType Key="22e18e8c-9c86-4718-95d1-5cdd865d1078">contentPage</ContentType>
    <ContentType Key="ff0e3684-75f7-477f-b152-e4c34c781db5">people</ContentType>
    <ContentType Key="1f58a0cd-dafd-42e7-b2ae-a632d67b2f88">products</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>fb7897b7-19d6-4f63-9b8e-079b1c95574a</Key>
      <Name>Content</Name>
      <Alias>bodyText</Alias>
      <Definition>34a7f8f5-a84e-439b-9322-466ff7ed8866</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7ca2aefd-dfaa-4308-826e-1e5e8f36a891</Key>
      <Name>Color Theme</Name>
      <Alias>colorTheme</Alias>
      <Definition>71548df5-836c-41f8-96ac-5b98fe5e2e19</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Design</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>78f200c3-5762-4bf0-ba69-c504627d9a51</Key>
      <Name>Font</Name>
      <Alias>font</Alias>
      <Definition>fff3c360-3f90-45b3-a554-e29ca72cdce4</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Design</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3ad21f3d-54d8-48bf-ae88-f5a5a27ca135</Key>
      <Name>Address</Name>
      <Alias>footerAddress</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ca585f5e-c271-4ae6-91e5-565932bfec7c</Key>
      <Name>Call To Action Caption</Name>
      <Alias>footerCTACaption</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Caption on the Call To Action Button]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>849752a2-884d-4ceb-a468-b8daacc980f8</Key>
      <Name>Call To Action Link</Name>
      <Alias>FooterCtalink</Alias>
      <Definition>3ece86aa-61ad-45d5-b1dd-8f02f25df949</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>39ea493a-1060-477a-881b-93acc6c711c4</Key>
      <Name>Description</Name>
      <Alias>footerDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f7e4a875-c1bf-4727-b49a-75a282655038</Key>
      <Name>Header</Name>
      <Alias>footerHeader</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ea93613c-c147-4795-ad81-b09792422047</Key>
      <Name>Hero Background</Name>
      <Alias>HeroBackgroundImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Spice up the homepage by adding a beautiful photo that relates to your business]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Design</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>70628cc6-a16a-4e6e-87b3-d2782fe3a2a9</Key>
      <Name>Call To Action Caption</Name>
      <Alias>heroCTACaption</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The caption on the button]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d8d442bd-9790-4715-bd0b-9968d80dd4d9</Key>
      <Name>Call To Action Link</Name>
      <Alias>HeroCtalink</Alias>
      <Definition>3ece86aa-61ad-45d5-b1dd-8f02f25df949</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1ad71cd7-36bd-4469-a8f6-e9ad27bb8076</Key>
      <Name>Description</Name>
      <Alias>heroDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>54e4ddc3-a256-4209-8853-5fe1f7b01058</Key>
      <Name>Header</Name>
      <Alias>heroHeader</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the main headline for the hero area on the Homepage]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3142021e-43e2-4f90-98c3-e3748f97b804</Key>
      <Name>Hero Image Alt Text</Name>
      <Alias>heroImageAltText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Alternate Text]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c47f4a9e-b095-43f4-8cf2-55fe6ffed698</Key>
      <Name>Logo</Name>
      <Alias>SiteLogo</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional. If you add a logo it'll be used in the upper left corner instead of the site name. Make sure to use a transparent logo for best results]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Design</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4ead2ecc-b33e-4745-b15e-b048df3fd64f</Key>
      <Name>Sitename</Name>
      <Alias>sitename</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Used on the homepage as well as the title and social cards]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Design</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Hero</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Footer</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Design</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>