<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ff0e3684-75f7-477f-b152-e4c34c781db5" Alias="people" Level="1">
  <Info>
    <Name>People</Name>
    <Icon>icon-user-females-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="0f8dcc90-a404-4dd7-b74b-d40b2edfa12a">contentBase</Composition>
      <Composition Key="53d45504-330d-4e8d-bffc-aa787a5e148b">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>people</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9babc8fb-ae48-4d36-8039-9f5347fdbf4b">people</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="9c11cfe2-6aae-4b72-b58b-501b78363655">person</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>f1c633b0-78c7-426e-9fe3-5b3bc2771159</Key>
      <Name>Featured People</Name>
      <Alias>featuredPeople</Alias>
      <Definition>4885450e-a60f-42bb-984a-43988baf5283</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>