<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cc8081cf-4b09-4cf0-895a-7ec8819ff210" Alias="product" Level="1">
  <Info>
    <Name>Product</Name>
    <Icon>icon-sweatshirt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Product</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="58432fbb-cd73-4056-850c-6e49cb8facc4">Product</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1b8a0819-2aa1-47f5-b8c5-471a433d2da0</Key>
      <Name>Content</Name>
      <Alias>bodyText</Alias>
      <Definition>ea0ed4c1-c489-43b8-9058-a70babf430ff</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Detailed Description</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>31843a08-11dc-4e94-99fc-de93d0a2d9aa</Key>
      <Name>Category</Name>
      <Alias>category</Alias>
      <Definition>59ac0a33-9d34-4236-9886-99310d13d7f1</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Product Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>51533597-9132-4a91-8279-e489d4a95f26</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Product Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>81d71716-35e1-4405-8db3-0b2e28450340</Key>
      <Name>Features</Name>
      <Alias>features</Alias>
      <Definition>84bbeb67-df7e-4043-8db8-55df52d01456</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Features</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>53dba25d-98d5-418a-ba67-23ccfaeb1f4f</Key>
      <Name>Photos</Name>
      <Alias>photos</Alias>
      <Definition>3ada047c-6dfc-4a14-afc4-7efb79390f92</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Product Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>bbd9975d-b356-4674-807f-118aa7709656</Key>
      <Name>Price</Name>
      <Alias>price</Alias>
      <Definition>3f6619b6-08a4-4be7-8d6a-2761844ee567</Definition>
      <Type>Umbraco.Decimal</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Product Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0d5d3019-6a76-4637-89be-b9e882a2dd75</Key>
      <Name>Product Name</Name>
      <Alias>productName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Product Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>cb1cbcdd-b8cc-4c5d-bfc8-936a54eec67a</Key>
      <Name>SKU</Name>
      <Alias>sku</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Product Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Product Details</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Features</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Detailed Description</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>