<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1f58a0cd-dafd-42e7-b2ae-a632d67b2f88" Alias="products" Level="1">
  <Info>
    <Name>Products</Name>
    <Icon>icon-shopping-basket color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="0f8dcc90-a404-4dd7-b74b-d40b2edfa12a">contentBase</Composition>
      <Composition Key="53d45504-330d-4e8d-bffc-aa787a5e148b">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Products</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4af7eeb3-0901-4ec4-a73b-5f1aecf3e3f4">Products</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="cc8081cf-4b09-4cf0-895a-7ec8819ff210">product</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d2d9cf26-c7c9-4cb9-90ae-c46a648fc20b</Key>
      <Name>Default Currency</Name>
      <Alias>defaultCurrency</Alias>
      <Definition>28a6aeda-b3fc-4c4d-926e-607854a07891</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is just used to prefix pricing]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Shop</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>aa3822fd-4425-4422-b51f-65de3a5a5cd3</Key>
      <Name>Featured Products</Name>
      <Alias>featuredProducts</Alias>
      <Definition>d0382188-119b-49b7-86d3-84119a02645f</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Shop</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Shop</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>